################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projects/UnityAr/_ReSharper.Caches/ReSharperPlatformVs16202_ac701b6b.UnityAr.00
/Projects/CoreModel/Recognition/snapshot
/Projects/CoreModel/PyPhsicsCore/venv
