[submodule "Projects/CoreModel/sockpp"]
[submodule "Projects/CoreModel/Recognition/third/cpp-base64"]
	path = Projects/CoreModel/Recognition/third/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
